.btnContact{
    background-image:url('../assets/test.jpg') ;
    background-size: 9vmin;
    border-radius: 50%;
    border: none;
    height: 9vmin;
    width: 9vmin;
    cursor: pointer;
    margin-right: 5vmin;
}
.btnTchat{
    background-image:url('../assets/WEB.png') ;
    background-size: 10vmin;
    border-radius: 50%;
    border: none;
    height: 10vmin;
    width: 10vmin;
    cursor: pointer;
    margin-bottom: 15px;
}
.btnWeb{
    background-image:url('../assets/A.jpg') ;
    background-size: 10vmin;
    border-radius: 50%;
    border: none;
    height: 10vmin;
    width: 10vmin;
    cursor: pointer;
    margin-bottom: 15px;
}