.records{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
.reactVideo{
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin-top: 1rem;
}